body {font-size: 1.0em; line-height:1.5em;}

h1 {color: #e5e5e5; font-size:3.0em; }
h2 {color: #e5e5e5; font-size:2.2em; border-bottom: 3px solid #4EC487;}
h3 {color: #e5e5e5; font-size:1.8em; }
h4 {color: #e5e5e5; font-size:1.1em;}

code {color: #4EC487; background-color: #444444; border:none;}

footer > p {display:none;}

.bg-secondary {background-color: #333333 !important; border:none;}
