
/* ------------------------------------------------------------ */
/* Overrides for jrnl theme                                     */
/* ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400&display=swap');

:root {
  --sidebar: #323232;
  --sidebar-dark: #212121;
  --off-white: rgba(255,255,255,.7);
}


body.wy-body-for-nav, section.wy-nav-content-wrap {
  background-color: #28282d;
  color: #b3b3b3;
}


pre {
  background-color: transparent;
  border: none;
  margin: 1em -1em;
}

pre code {
  padding: 1em 1.5em !important;
}



h1,h2 ,h3, h4, h5, h6 {
  font-family: 'Roboto', "Helvetica", sans-serif;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #cccccc;
}

h3,h4,h5,h6 {
  margin-top: 1.5rem;
}

p, td, tr, div, li {
  font-family: 'Roboto', "Helvetica", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Roboto', "Helvetica", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
}

p {
  margin: 1em 0em;
}

/* No-one likes lines that are 400 characters long. */
div.rst-content {max-width: 54em;}

.wy-side-nav-search, .wy-menu-vertical li.current {
  background-color: transparent;
}
.wy-nav-top {
  background-color: #202023;
}

.wy-nav-top .fa-bars {
  line-height: 50px;
}

.wy-side-nav-search a.icon-home {
  width: 100%;
  max-width: 250px;
  background-size: 100%;
}

a.icon-home:before {
  display: block;
  width: 180px;
  height: 180px;
  content: "";
  background: url(../theme/img/ratmod_header_logo.svg) center center no-repeat;
  margin: 10px auto;
}



.wy-menu-vertical a, .wy-menu-vertical li ul li a {color: var(--off-white) !important; }

.wy-menu-vertical a:hover, .wy-menu-vertical li.current a:hover { 
  background-color: transparent  !important; color: white !important;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
  background: transparent !important;
  color: white !important;
  border: none;
  position: relative;
  font-weight: 700 !important;
  border-right: none !important;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current a {
  border-right: none;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a:after {
  display: block;
  position: absolute;
  right: 0em;
  top: 0;
  z-index: 999 !important;
  content: "";
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid white;
}

.rst-versions, .rst-versions .rst-current-version { display: none; }
.wy-menu-vertical span {
    color: white !important;
    font-size: 1.2em;
    font-weight: 300 !important;
}
.wy-menu-vertical li a {color: var(--off-white)  !important; font-weight: 300 !important;}


.wy-nav-side {
  background-color: #202023;
  font-weight: 300 !important;
  height: 100%;
}


footer {display: none;}

.wy-side-nav-search input[type=text], form .search-query {
    background-color: #202023 !important;
    border: 1px solid rgba(255,255,255,.3);
    box-shadow: none;
    margin-bottom: 1em;
    color: white !important;
    font-weight: 500;
}

.wy-side-nav-search input[type=text]::placeholder, form .search-query::placeholder {
  color: var(--off-white) !important;
}

.toctree-l2 a:first-child {display: none;}

/* ------------------------------------------------------------ */
/* Logo: ;                                                      */
/* ------------------------------------------------------------ */

.logo {
    width: 128px;
    height: 128px;
    vertical-align: middle;
    margin-right: 1em;
}

/* ------------------------------------------------------------ */
/* Code blocks in callouts                                      */
/* ------------------------------------------------------------ */

div.admonition {
  border-radius: 5px;
  margin: 1em -1em;
}
div.admonition p.admonition-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
div.admonition > p {
  padding: 0em .5em;
}


div.admonition div.highlight {
    background: none !important;
}
div.admonition div.highlight pre {
    background-color: rgba(255,255,255,.5) !important;
}

/* ------------------------------------------------------------ */
/* Fancy ordered lists.                                         */
/* ------------------------------------------------------------ */

ol {
  counter-reset:li;
  margin-left: 0px;
  padding: 0;
}

ol li {
  list-style: none !important;
  margin-bottom: 1.5em;
  margin-left: 3em !important;
}

ol > li:before {
    content:counter(li);
    counter-increment:li;
  background-color: var(--sidebar);
  border-radius: 50%;
  display: block;
  float: left;
  margin-left: -3em;
  margin-top: -.3em;
  width: 2em;
  height: 2em;
  color: var(--sidebar-dark);
  text-align: center;
  line-height: 2em;
  font-weight: 600;
}




a, a:hover, a:visited {
  color: #cc99d8;
  text-decoration: none
}

a:hover {
  text-decoration: underline;
}


a.icon-home:hover {
  color: rgba(0,0,0,0)
}

a.icon-home:visited {
  color: rgba(0,0,0,0)
}


a.toctree-l3 {
  margin-left: -1.5rem;
}

a.icon-home {
  color: rgba(0,0,0,0);
  font-size: 1px;
  margin: -10px;
}

a.icon-home:hover {
  background-color: transparent !important;
}

nav.wy-nav-top > a, nav.wy-nav-top > a:hover {
  color: #eee;
  font-weight: 100;
  font-size: 1.8rem;
  text-decoration: none;
}



.wy-table caption, .rst-content table.docutils caption, .rst-content table.field-list caption {
  color: #ddd;
  font: italic 85% / 1 arial, sans-serif;
  padding: 1em 0;
  text-align: center
}


.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
  color: #ddd;
  text-align: left;
  vertical-align: bottom;
  white-space: nowrap
}


.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
  background-color: #28282a
}


table.docutils {
  border: 0px !important;
}

th,tr,td {
  border: 1px solid #44444a !important;
  background-color: #303036;
}

th {
  background-color: #44444a;
}

td,th {
  padding-top: 0.8em !important;
  padding-bottom: 0.8em !important;
}



div.admonition {
  background-color: #333338;
  padding-bottom: 0.5em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.admonition > p {
  margin-left: -0px !important; 
  margin-right: -0px !important;
  padding-left: 1.4em !important;
  padding-right: 1.4em !important;
}

.admonition > p > code {
  border: none;
}


div.rst-content > div[role="navigation"] {
  display: none !important;
}

h1,h2,h3 {
  padding-top: .6em;
  padding-bottom: 0.15em;
}


code {
  border: none;
  color: #9FCC2E;
  color: #2DD881;
  color: #56D895;
  color: #4EC487;
  background-color: #202028;
  border-radius: 3px;
  font-size: 0.8rem;
  font-family: 'Roboto', "Helvetica", sans-serif;
}

td > code {
  font-size: 90%;
}



h2 {
  font-size: 1.25rem;
  font-weight: 100;
  border-bottom: 3px solid #9FCC2E;
  border-bottom: 3px solid #08A4BD;
  border-bottom: 3px solid #0694AA;
}

h2 > code {
  font-size: 1.25rem;
  
}

h3 {
  font-size: 1rem;
}

h3 > code {
  font-size: 1rem;
}

h4 {
  /* font-weight: 300; */
  /* font-family: 'Arial', sans-serif; */
  font-size: 0.9rem;
  color: #c3c3c3;
  margin-left: 0.4rem;
  
}



h4 > code {
  font-size: 0.9rem;
}

ul {
  margin-left: 1rem;
}

html {
  font-size: 125%;
}
body, p, ul, ol, li, b, i {
  font-size: 0.8rem !important;
}

p, ul, ol, blockquote, pre {
  margin-left: 1rem;
}



